@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&family=Libre+Baskerville:wght@400;700&display=swap');

/* navbar styling */
.border-sm-right {
  border-right: 1px solid silver;
}
.navbar-brand {
  font-size: 1.7em;
}
.mine {
  font-weight: 800;
}
.navbar {
  background-color: #804033 !important;
}
.nav-link {
  color: #FFFFFF !important;
}
.navbar ul li a:hover {
  color: #BBD4E4 !important;
}
@media (max-width: 575px){
  .border-sm-right {
    border-right: none;
  }
}
@media (max-width: 575px) {
  .border-sm-right {
    border-right: none;
  }
}
/* p{
  color: #ffa500;
} */

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

#collage {
  filter: grayscale(50%);
}

.top {
  text-align: center;
}
.source {
  text-decoration: underline;
  text-align: left;
  font-size: 120%;
}
.container-fluid footer {
  border-top: solid 1px black !important;
  border-bottom: solid 1px black !important;
  font-weight: 600;
}
footer a {
  color: #5a7048;
}
