@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&family=Libre+Baskerville:wght@400;700&display=swap');

body {
  background-color: #708c5a;
  font-family: 'Inconsolata', monospace;
}

.container-fluid {
  padding: 1px;
}
.header {
  font-family: 'Libre Baskerville', serif;
  color: #0d0907;
  text-align: center;
  height: 150px;
  background-color: rgba(251, 251, 249,0.8);
  background-image: url(../img/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.border-top, .border-bottom {
  border-top: solid 1px black !important;
  border-bottom: solid 1px black !important;
}
.navbar-nav {
  margin: auto;
  text-align: center;
}
.nav-link {
  color: #FBFBF9;
}
.nav-link:hover {
  background-color: #BBD4E4;
  color: black;
}
.border-sm-right {
  border-right: 1px solid black;
}

summary p, footer p {
  color: black;
}
.summary {
  font-size: 1.1em;
}

.carousel {
  margin: auto;
}
.carousel-caption {
  background-color: rgba(0,0,0,0.5);
}
.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}
.carousel-indicators {
  margin-bottom: 2px;
}
.vincent {
  filter: brightness(0.80) contrast(140%) grayscale(95%) sepia(20%);
}

footer {
  border-top: solid 1px black !important;
  border-bottom: solid 1px black !important;
  text-align: center;
}
footer a {
  color: #bbd4e4;
}

@media (min-width: 992px) {
  .summary {
    line-height: 2em;
    font-size: 1.3em;
    margin: auto;
  }
}
@media (max-width: 575px) {
  .nav-item {
    border-right: none;
  }
}
