@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&family=Libre+Baskerville:wght@400;700&display=swap');

body {
  background-color: #5a7048;
  font-family: 'Inconsolata', monospace;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

.navbar-nav {
  margin: auto;
  text-align: center;
}

h3 {
  color: white;
  padding: 6px 8px 6px 16px;
}

.carousel {
  margin: auto;
}
.carousel-caption {
  background-color: rgba(0,0,0,0.5);
}
.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}
.carousel-indicators {
  margin-bottom: 2px;
}
.vincent {
  filter: brightness(0.80) contrast(140%) grayscale(95%) sepia(20%);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media (min-width: 480px) {
  .navbar-nav {

  }
}
